*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
	overflow-x: hidden;
}
p{
	font-size: 18px;
}
.container {
	width: 100vw;
	height: 100%;
}
.main-visual{
	background: url(images/donation13.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100vw;
	color: #ffff;
	text-align: center;
	position: relative;
}
.main-visual-inner{
	position: absolute;
	top: 20%;
	left: 25%;
	width: 50%;
	margin: auto;
	line-height: 3rem;
}
.main-visual h1{
	font-size: 50px;
	font-weight: bold;
}
.donate-btn{
	text-decoration: none;
	color: #ffff;
	padding: 20px 40px;
	border-radius: 4px;
	background-color: brown;
}
.inner-section{
	width: 90vw;
	height: 100%;
	padding: 40px 0px;
	margin: auto;
	text-align: center;
}
.sub-title{
	width: 70%;
	margin: auto;
	line-height: 2.5rem;
	margin-bottom: 40px;
}
.donate-amount{
	height: 50vh;
}
.donate-amount a{
	text-decoration: none;
	background-color: rgba(128, 128, 128, 0.089);
	color: black;
	padding: 30px 40px;
}
.donate-amount .active{
	border: 3px solid brown;
	color: brown;
}
.donate-amount a:hover{
	border: 3px solid brown;
	color: brown;
}
input[type=text] {
  width: 70%;
  padding:0px 20px;
  border: none;
  border-bottom: 2px solid grey;
}
.all-plans{
	display: flex;
	justify-content: space-evenly;
}
.plan{
	width: 25%;
	text-align: start;
	padding: 20px;
	border-radius: 5px;
}
.plan1{
	background-color: aqua;
}
.plan2{
	background-color: rgb(197, 147, 243);
}
.plan3{
	background-color: burlywood;
}
.colorfull-selection {
	padding: 30px;
	background: #54B3CB40;
	height: 70vh;
}
.link-container{
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 30px;
}
.link-lg-btn {
	width: 37.03vw;
	padding: 10px 2px;
	border-radius: 5px;
	background: white;
	border: 2px solid brown;
	display: flex;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	position: relative;
	text-decoration: none;
	color: #54B3CB;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 20px;
}
.link-arrow {
	border: solid brown;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(-45deg);
	position: absolute;
	right: 10px;
}
.mail-section{
	background-color: bisque;
	padding: 40px 0;
	width: 50%;
	margin: auto;
	display: flex;
	justify-content: center;
}
input[type=email] {
  width: 40%;
	border: none;
	color: white;
  padding:10px 20px;
	background-color: #AA9F9F;
	border-top-left-radius:5px;
	border-bottom-left-radius: 5px;
}
.subscribe-btn{
	text-decoration: none;
	background: brown;
	color: white;
	padding: 8px;
	border-top-right-radius:5px;
	border-bottom-right-radius: 5px;
}
footer{
	text-align: center;
	color: white;
	background-color: black;
	padding: 40px;
}